#footer{
	background: #000;
}
.footer_inner{
	background: #000;
	height: 337px;
	width: 1150px;
}
.footer_header{
	height: 60px;
	border-bottom: 1px solid #262626;
	display: flex;
	
}
.footer_header p{
	font-size: 12px;
	color: #fff;
	margin-right: 58px;
	margin-top: 22px;
}
.footer_header p i{
	color: #f40;
	margin-right: 5px;
}
.footer_header p a{
	color: #fff;
}
.footer_header p span{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.footer_header p:nth-child(1) span{
	width: 26px;
	height: 28px;
	background: url(../img/53.jpg) no-repeat 0 0;
}
.footer_header p:nth-child(2) span{
	width: 26px;
	height: 23px;
	background: url(../img/53.jpg) no-repeat 0 -40px;
}
.footer_header p:nth-child(3) span{
	width: 24px;
	height: 23px;
	background: url(../img/53.jpg) no-repeat 0 -73px;
}
.list{
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
	margin-bottom: 28px;
}
.list dl dt{
	color: #fff;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
}
.list dl dd{
	color: #666;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
}
.foot_img{
	float: left;
}
.foot_img a{
	display: inline-block;
}
.foot_img a:nth-child(1){
	width: 76px;
	height: 34px;
	background: url(../img/53.jpg) no-repeat 0 -108px;
}
.foot_img a:nth-child(2){
	width: 92px;
	height: 34px;
	background: url(../img/53.jpg) no-repeat 0 -151px;
}
.foot_img a:nth-child(3){
	width: 77px;
	height: 34px;
	background: url(../img/53.jpg) no-repeat 0 -197px;
}
.youqing{
	float: left;
	margin-left: 39px;
}
.youqing p{
	height: 20px;
	line-height: 20px;
	color: #666;
	font-size: 12px;
}
.youqing p a{
	margin-right: 10px;
	margin-left: 10px;
}
.youqing p a i{
	display: inline-block;
	width: 18px;
	height: 20px;
	background: url(../img/53.jpg) no-repeat 0 -248px;
	vertical-align: middle;
	margin-right: 10px;
}

.footer_inner>p{
	text-align: center;
	height: 46px;
	line-height: 46px;
	margin-top: 10px;
	font-size: 12px;
	color: #666;
}

#stop{
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
}
.stop_top{
	width: 60px;
	height: 60px;
	background: rgba(0,0,0,0.3);
	line-height: 60px;
	text-align: center;
}
.stop_top:hover{
	background-color: #000;
}
.stop_top span{
	display: inline-block;
	width: 29px;
	height: 29px;
	background: url(../img2/54.png) no-repeat -35px 0;
	margin-top: 15px;
}
.stop_bottom{
	width: 60px;
	height: 60px;
	background: rgba(0,0,0,0.3);
	margin-top: 30px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
.stop_bottom:hover{
	background-color: #000;
}
.stop_bottom span{
	display: inline-block;
	width: 16px;
	height: 8px;
	background: url(../img2/54.png) no-repeat -40px -86px;
}
.erweima{
	position: absolute;
	width: 262px;
	height: 160px;
	background: #f4f4f4;
	left: -292px;
	top: -30px;
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	/*display: none;*/
	visibility: hidden;
}
.erweima div{
	width: 94px;
	text-align: center;
}
.erweima div img{
	width: 94px;
	height: 94px;
}
.erweima div p{
	font-size: 12px;
	color: #000;
}
.erweima div:last-child p:last-child{
	color: #f40;
}
#stop:hover .erweima{
	/*display: block;*/
	visibility: visible;
}