@charset "utf-8";
/* CSS Document */
.center{
	width: 1150px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.head{
	width: 100%;
	height: 32px;
	background: #f4f4f4;
	line-height: 32px;
	font-size: 12px;
}
.head a{
	font-size: 12px;
}
.head dl{
	z-index: 100;
	position: relative;
	float: left;
}
.head dl dt{
	height: 32px;
	width: 120px;
}
.head dl dt a{
	color: #000;
}
.head dl dt:hover{
	background: #CCCCCC;
}
.head dl dd{
	background: #f4f4f4;
	line-height: 36px;
	padding: 10px;
	display: none;
}
.warn{
   color: red;
}
.head-nav{
	float: right;
}
.head-nav a{
	color: #8e8e8e;
}
.head-nav-2 {
	margin-left:3px;
}
.head-nav-2 a{
	padding: 0 10px;
	border-left: 1px solid #CCCCCC;
}

.head-top{
	width: 100%;
	height: 90px;
}
.head-title{
	float:left;
	margin-top:42px;
	text-align: center;
}
.head-title a{
	float:left;
	padding: 8px 22px 5px;
	font-size: 14px;
}
.title-active{
	background: #3a3a3a;
	color: #fff;
}
.logo{
	float: left;
	margin: 40px 0 0 120px;
}
.seach{
	width: 320px;
	height: 28px;
	border: 1px solid  #000;
	float: right;
	margin-top: 40px;
}
.seach div a{
	padding: 3px 6px;
	font-size: 12px;
	color: #b0b0b0;
}
.seach div a:hover{
	color: #909090;
}
.seach-txt{
	width: 234px;
	height: 28px;
	border: none;
}
.seach-btn{
	width: 78px;
	height: 29px;
	text-align: center;
	border: none;
	background: #3a3a3a;
	color: #fff;
	float: right;
}
.shop{
	margin-top: 40px;
	margin-left: 22px;
	float: right;
	font-size: 32px !important;
	cursor: pointer;
	position: relative;
}
.head-title-two{
	width: 100%;
	height: 40px;
	background: #3a3a3a ;
	line-height: 40px;
	position: relative;
	
}
.head-title-two .center a {
	color: #fff;
	margin-right: 82px;
	font-size: 14px;
}
.head-title-two a:hover{
	border-bottom: 3px solid #fff;
}

.bar{
	width: 100%;
	height: 510px;
}
.main-top{
	width: 100%;
}
h1{
	font-size: 14px;
	width: 298px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	border: 1px solid #000;
	margin: 80px auto 40px auto;
}

.main-box{
	width: 1150px;
	margin: 0 auto;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.main-box a{
	margin-bottom: 4px;
	display: inline-block;
	float: left;
}

#showTrademark{
	width: 1150px;
	height: 175px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-bottom: 8px;
	position: relative;
	
}
#trademarkBox a{
	width: 378px;
	height: 175px;
	margin-right:8px;
}

#trademarkBox{
	width: 2348px;
	height: 175px;
	position: absolute;
}
.tpl-box{
	width: 185px;
	height: 228px;
	padding: 10px 0;
	background: #f8f8f8;
	overflow: hidden;
}
.tpl-box a{
	text-align: center;
	width: 50%;
	font-size: 12px;
	line-height: 30px;
}
.tpl-left{
	width: 185px;
}
.tpl-cen{
	width: 378px;
}
.tpl-right{
	width: 568px;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.tpl-foot a{
	margin-right: 10px;
}
.newBox {
	overflow: hidden;
	height: 438px;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
}
.newBox a{
	font-size: 12px;
	float: none;
	text-align: center;
	color: #000;
}
#helpList{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px;
	height: 140px;
	display: none;
}
#helpList span{
	text-align: center;
	display: block;
	width: 60px;
	height: 60px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	line-height: 60px;
	margin-bottom: 20px;
	font-size: 30px;
	cursor: pointer;
}
#helpList span:hover{
	background: rgba(0,0,0,0.8);
}
#bar{
	position: relative;
	height: 450px;
}
#bar a{
	position: absolute;
	opacity: 0;
}

#toLeft {
				width: 60px;
				height: 60px;
				background: url(../img/btn.gif);
				position: absolute;
				left: 30px;
				top: 180px;
				/*opacity: 0;*/
				cursor: pointer;
				display: block;
			
				
			}
			
			#toRight {
				width: 60px;
				height: 60px;
				background: url(../img/btn.gif) 0px 60px;
				position: absolute;
				right: 30px;
				top: 180px;
				/*opacity: 0;*/
				cursor: pointer;
				display: block;
			}
			
			#btnarr{
				opacity: 100;
			}
			/*<span id="trad">
							<div id="trLeft"></div>
							<div id="trRight"></div>
						</span>*/
#barBtn{
	display: flex;
	justify-content: space-between;
}
#barBtn img{
	cursor: pointer;
}
.fuco2{
	opacity:0.5;
}
.fuco{
	opacity: 1;
}
#trLeft {
				width: 35px;
				height: 34px;
				background: url(../img/btn.gif) -13px -13px;
				position: absolute;
				left: 0px;
				top: 70px;
				/*opacity: 0;*/
				cursor: pointer;
				display: block;
			
				
			}
			
			#trRight {
				width: 35px;
				height: 34px;
				background: url(../img/btn.gif) -12px 47px;
				position: absolute;
				right: 0px;
				top: 70px;
				cursor: pointer;
				display: block;
			}
.main-box a:hover{
	opacity: 0.8;
}

#wx{
   position: relative;
}
.wx{
  position: absolute;
  top:-24px;
  left: -297px;
  width: 296px;
  height: 180px;
  display: none;
}
.wx img{
	float: left;
	height: 100%;
	width:50%;
}

#headMain{
	position: absolute;
	top:40px;
	width: 100%;
	height: 360px;
	background: #f8f8f8;
	z-index: 100;
	padding: 30px 0;
	display: none;
}
#headMain  a{
	color: #a1a1a1;
}
#headMain  a:hover{
	color: #999;
	border-bottom: 1px solid #999;
}
#headMain dt{
	color: #000;
	border-bottom: 1px solid #000;
	
}
#headMain div{
	position: relative;
	right:0;
	overflow: hidden;
}
#headMain dl{
	float: left;
	width:278px;
	height: 358px;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
	padding: 0 50px;
}

#shopBox{
	position: absolute;
	z-index: 1000;
	padding: 10px;
	background: #f8f8f8;
	width: 378px;
	height: 496px;
	left: 809px;
	top: 102px;
	display: none;
}
