@charset "utf-8";
/* CSS Document */
.center{
	width: 1150px;
	margin: 0 auto;
	overflow: hidden;
}
.head{
	width: 100%;
	height: 32px;
	background: #f4f4f4;
	line-height: 32px;
	font-size: 12px;
}
.head a{
	font-size: 12px;
}
.head dl{
	float: left;
}
.head dl dt{
	height: 32px;
	width: 120px;
}
.head dl dt a{
	color: #000;
}
.head dl dt:hover{
	background: #CCCCCC;
}
.head dl dd{
	width: 140px;
	height: 36px;
	background: #f4f4f4;
	line-height: 36px;
}
.warn{
   color: red;
}
.head-nav{
	float: right;
}
.head-nav a{
	color: #8e8e8e;
}
.head-nav-2 {
	margin-left:3px;
}
.head-nav-2 a{
	padding: 0 10px;
	border-left: 1px solid #CCCCCC;
}

.head-top{
	width: 100%;
	height: 90px;
}
.head-title{
	float:left;
	margin-top:42px;
	text-align: center;
}
.head-title a{
	float:left;
	padding: 8px 22px 5px;
	font-size: 14px;
}
.title-active{
	background: #3a3a3a;
	color: #fff;
}
.logo{
	float: left;
	margin: 40px 0 0 120px;
}
.seach{
	width: 320px;
	height: 28px;
	border: 1px solid  #000;
	float: right;
	margin-top: 40px;
}
.seach div a{
	padding: 3px 6px;
	font-size: 12px;
	color: #b0b0b0;
}
.seach div a:hover{
	color: #909090;
}
.seach-txt{
	width: 234px;
	height: 28px;
	border: none;
}
.seach-btn{
	width: 78px;
	height: 29px;
	text-align: center;
	border: none;
	background: #3a3a3a;
	color: #fff;
	float: right;
}
.shop{
	margin-top: 40px;
	margin-left: 22px;
	float: right;
	font-size: 32px !important;
}
.head-title-two{
	width: 100%;
	height: 40px;
	background: #3a3a3a ;
	line-height: 40px;
	
}
.head-title-two a{
	color: #fff;
	margin-right: 82px;
	font-size: 14px;
}
.head-title-two a:hover{
	border-bottom: 3px solid #fff;
}

.bar{
	width: 100%;
	height: 510px;
}
.main-top{
	width: 100%;
}
h1{
	font-size: 14px;
	width: 298px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	border: 1px solid #000;
	margin: 80px auto 40px auto;
}

.main-box{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.main-box a{
	margin-bottom: 4px;
	display: inline-block;
	float: left;
}

#showTrademark{
	width: 100%;
	height: 175px;
	overflow: hidden;
	position: relative;
	margin-bottom: 8px;
}
#trademarkBox a{
	width: 378px;
	height: 175px;
	margin-right:8px;
	
}

#trademarkBox{
	width: 2316px;
	height: 175px;
	position: absolute;
}
.tpl-box{
	width: 185px;
	height: 228px;
	padding: 10px 0;
	background: #f8f8f8;
	overflow: hidden;
}
.tpl-box a{
	text-align: center;
	width: 50%;
	font-size: 12px;
	line-height: 30px;
}
.tpl-left{
	width: 185px;
}
.tpl-cen{
	width: 378px;
}
.tpl-right{
	width: 568px;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.tpl-foot a{
	margin-right: 10px;
}
.newBox {
	overflow: hidden;
	height: 438px;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
}
.newBox a{
	font-size: 12px;
	float: none;
	text-align: center;
	color: #000;
}
#helpList{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px;
	height: 140px;
}
#helpList a{
	text-align: center;
	display: block;
	width: 60px;
	height: 60px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	line-height: 60px;
	margin-bottom: 20px;
	font-size: 30px;
}
#helpList a:hover{
	background: rgba(0,0,0,0.8);
}